body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:613px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5361 {
  position:absolute;
  left:11px;
  top:11px;
  width:295px;
  height:613px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5362 {
  position:absolute;
  left:2px;
  top:298px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:487px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5363 {
  position:absolute;
  left:22px;
  top:73px;
  width:274px;
  height:487px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5364 {
  position:absolute;
  left:2px;
  top:236px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u5366 {
  position:absolute;
  left:22px;
  top:73px;
  width:274px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u5367 {
  position:absolute;
  left:2px;
  top:0px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u5368 {
  position:absolute;
  left:23px;
  top:73px;
  width:41px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u5369 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u5370 {
  position:absolute;
  left:254px;
  top:73px;
  width:41px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
}
#u5372 {
  position:absolute;
  left:233px;
  top:78px;
  width:18px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u5373 {
  position:absolute;
  left:2px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u5374 {
  position:absolute;
  left:210px;
  top:76px;
  width:22px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u5375 {
  position:absolute;
  left:0px;
  top:-2px;
  width:22px;
  white-space:nowrap;
}
#u5376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5376 {
  position:absolute;
  left:195px;
  top:78px;
  width:11px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u5377 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:41px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5378 {
  position:absolute;
  left:22px;
  top:88px;
  width:274px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5379 {
  position:absolute;
  left:2px;
  top:12px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5380 {
  position:absolute;
  left:36px;
  top:102px;
  width:15px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5381 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u5382 {
  position:absolute;
  left:61px;
  top:102px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u5383 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5384 {
  position:absolute;
  left:130px;
  top:38px;
  width:58px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5385 {
  position:absolute;
  left:2px;
  top:-4px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5386 {
  position:absolute;
  left:102px;
  top:38px;
  width:9px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5387 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5388 {
  position:absolute;
  left:138px;
  top:573px;
  width:42px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5389 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u5390 {
  position:absolute;
  left:39px;
  top:150px;
  width:241px;
  height:136px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u5391 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
